<div class="w-full flex my-3 text-black" id="about">
  <footer class="w-full bg-white py-4 rounded-md">
    <div class="flex flex-col gap-2 md:flex-row w-full flex items-center justify-between px-6">
      <div class="text-left">
        <p class="text-sm font-medium">
          Caso queira entrar em contato, envie um email para
          <a href="mailto:gefersonjefreey@gmail.com" class="text-dark font-semibold hover:text-gray-500 underline"
            >gefersonjefreey&#64;gmail.com</a
          >
        </p>
      </div>
      <div class="text-right">
        <a
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer"
          class="flex justify-center items-center space-x-1 font-semibold"
        >
          <p>Geferson Lopes |</p>
          <mat-icon class="text-xl mt-[-6px]">linkedin</mat-icon>
        </a>
      </div>
    </div>
  </footer>
</div>
