<section>
  <div class="flex justify-between">
    <h3 class="mt-[1rem] mb-2 font-thin text-md">Other results:</h3>
    <app-paginate></app-paginate>
  </div>
  <div class="flex gap-7 w-full overflow-x-auto overflow-y-hidden">
    <div *ngFor="let item of movies">
      <div
        class="w-[10rem]"
      >
        <img
          [src]="item.Poster !== 'N/A' ? item.Poster : notImage()"
          class="w-full pb-2 h-[13rem]"
          alt="logo"
        />
        <div class="card-body pb-2">
          <h5 class="card-title">{{ item.Title }}</h5>
        </div>
      </div>
    </div>
  </div>
</section>
