.video-background {
  background-image: url('https://youtu.be/wQG3sYJ9PM8');
  background-size: cover;
  background-position: center;
  position: relative;
}

.video-background::after {
  content: "";
  background: url('https://youtu.be/wQG3sYJ9PM8') no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5; /* Opacity ajustável para ajustar a intensidade do vídeo */
}
