<section *ngIf="mainMovie">
  <main>
    <img
      class="w-full h-[19rem] lg:h-[40vh] object-cover"
      [src]="mainMovie.Poster !== 'N/A' ? mainMovie.Poster : notImage()"
      alt="logo"
    />
    <div class="mt-[1rem] flex gap-[2rem]">
      <h1 class="font-bold text-xl">{{ mainMovie.Title }}</h1>
      <div class="flex text-md font-light mt-1 flex gap-[1rem]">
        <p>{{ mainMovie.Type }}</p>
        <p>|</p>
        <p>{{ mainMovie.Year }}</p>
        <p>|</p>
      </div>
    </div>
    <div class="mt-4 flex gap-6">
      <a
        class="flex gap-2 items-center text-[#1787f2] cursor-pointer"
        routerLink="details/{{ mainMovie.imdbID }}"
      >
        <mat-icon style="color: #1787f2" id="icons">play_circle</mat-icon>
        View details
      </a>
      <p
        class="flex gap-2 items-center cursor-pointer transition-transform duration-300 transform hover:scale-105"
        (click)="handleFavorite(mainMovie)"
        [ngClass]="{ 'text-[#B92645]': isFavorite(mainMovie) }"
      >
        <mat-icon
          [style]="{ color: isFavorite(mainMovie) ? '#B92645' : 'white' }"
          id="icons"
          >favorite
        </mat-icon>
        Favorite
      </p>
    </div>
  </main>
  <app-items></app-items>
</section>
<p *ngIf="!mainMovie">Wait!!!</p>
<router-outlet></router-outlet>
